# Downloaded files
*.rar
*.zip
*.7z
*.001
*.part*.rar

# Text lists
link.txt

# Temporary / Debug files
test_*.py
page.html
ui_downloader.py
*.log
downloaded_files/

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env

# OS Files
Thumbs.db
.DS_Store
/build
/dist

# Bundled Binaries
7z.exe
7z.dll
/.agents/rules
